* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background: #f8d51c;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 200;
}

h1 {
	font-size: 4em;
	font-weight: 900;
	letter-spacing: -3px;
	margin: 0 0 20px;
	text-align: center;
	text-shadow: 1px 1px 0 #fff, 2px 2px 0 #bbb;
}
hr {
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #fff;
	margin: 25px 0;
	clear: both;
}

.active {
	visibility: visible;
}

.inactive {	
	visibility: hidden;
}

.centered {
	text-align: center;
}

.wrapper {
	width: 100%;
}
.container {
	width: 100%;
	margin: 0 auto;
}


header {
	text-align: center;
	width: 100%;
	height: 100%;
}

header .smiley {
	width: 130px;
    position: absolute;
    overflow: hidden;
    left: -22px;
    top: -28px;
}

header .love {
	width: 130px;
    position: absolute;
    overflow: hidden;
    right: -22px;
    top: -28px;
}

header h4 {
	margin-bottom: 20px;
}

footer {
	height: 100px;
	width: 100%;
	position: relative;
}

footer p {
	text-align: center;
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
}

/* ---------- Zoom container ---------- */
.image-zoom-container {
	list-style: none;
	font-size: 0px;
	margin: 0 auto;
	max-width: 1240px;
	text-align: center;
	display: block;
}
.zoom-container {
	position: relative;
	overflow: hidden;
	height: 230px;
	display: inline-block;
	max-width: 300px;
	margin:20px 10px;
	margin-bottom:0;
	width: 33.33%; 
	font-size: 16px;
	font-size: 1rem;
	vertical-align: top;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.zoom-container img {
	display: block;
	width: 100%;
	height: 230px;
	-webkit-transition: all .5s ease; 
    -moz-transition: all .5s ease; /* Firefox */
    -ms-transition: all .5s ease; /* IE 9 */
    -o-transition: all .5s ease; /* Opera */
    transition: all .5s ease;
}

.zoom-container .zoom-caption:hover {
	background: none;
}

.zoom-container .zoom-caption {
	position: absolute;
	height: 230px;
	width: auto;	
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 10;
	background: rgba(0, 0, 0, .5);
	-webkit-transition: all .5s ease; 
    -moz-transition: all .5s ease; /* Firefox */
    -ms-transition: all .5s ease; /* IE 9 */
    -o-transition: all .5s ease; /* Opera */
    transition: all .5s ease;
}


.zoom-container .zoom-caption h3 {
	display: block;
	text-align: center;
	font-size: 1.5em;
	font-weight: 900;
	letter-spacing: -1px;
	text-transform: uppercase;
	color: #fff;
	margin: 28% 0 0;
	padding: 10px 0;
	/*border-top: 5px solid rgba(255, 255, 255, .15);*/
	/*border-bottom: 5px solid rgba(255, 255, 255, .15);*/
}

.zoom-container .zoom-caption:hover h3{
	display: none;
}

.zoom-container img.reaction {
	z-index: 1;
    position: absolute;
    top: -200px;
    overflow: hidden;
}

.zoom-container:hover img.reaction {
	top: 0;
	-webkit-transition: all 400ms cubic-bezier(0.175, 0.885, 0.320, 1);
-webkit-transition: all 400ms cubic-bezier(0.175, 0.885, 0.320, 1.275); 
   -moz-transition: all 400ms cubic-bezier(0.175, 0.885, 0.320, 1.275); 
     -o-transition: all 400ms cubic-bezier(0.175, 0.885, 0.320, 1.275); 
        transition: all 400ms cubic-bezier(0.175, 0.885, 0.320, 1.275); 
}

@media (min-width: 769px) {
	.container {
		width: auto;
		padding: 0 10px;
	}
}

@media (min-width : 569px) and (max-width : 768px) { 
	/* STYLES GO HERE */
	.zoom-container {
		width: 50%;
	}
}

@media (min-width : 320px) and (max-width : 568px) { 
	/* STYLES GO HERE */
	.zoom-container {
		width: 100%;
	}
	header .smiley {
		display: none;
	}
	header .love {
		display: none;
	}
	h1 {
		font-size: 3em;
	}
}

audio {
    display: none;
    width: 0;
    height: 0;
}